body {
    font-family: sans-serif;
    color: #4A4A4A;
    background: #567258;
    padding: 20px;
    font-size: .95rem;
}

.list-group-item {
    background-color: #D1E5CC;
}

a:link {
    color: #636363;
}

a:visited {
    color: #ADADAD;
}

.custom-border {
    border-radius: 10px;
    border-color: #263F20;
}

.card {
    background-color: #D1E5CC;
    max-height: 70vh;
}

.text-box {
    background-color: #AFC3A2;;
}